<% include ../partials/header %>

<header id="campground-header">
    <div class="dark-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center pt-3">
                    <h1 class="display-3">YELPCAMP</h1>
                    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex ab consequatur aliquid fugiat rem. Accusamus?</p>
                    <a href="/campgrounds/new" class="btn btn-outline-success btn-lg">Add a new campground</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container my-3">
    
    <h3>Our most popular campgrounds</h3>
    <div class="row">
        <div class="card-columns">
            <% campgrounds.forEach(function(campground){ %>
                <article class="card my-2 text-center">
                    <img src="<%= campground.image %>" alt="Campground image" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <p class="lead text-left"><%= campground.description.substring(0,150) %>...</p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-primary">More Info</a></p>
                    </div>
                </article>
                <% }); %>
            </div>
        </div>
        
        
    </div>
    <% include ../partials/footer %>