body {
    background-color: rgb(228, 228, 228);
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .575rem;
    line-height  : .5;
    border-radius : .2rem;
}
